/* Custom properties */
:root {
  --blue: #0061ff ;
  --lightblue: #b4d0e7 ;
  --bluesky: #0093ce ;
  --darkblue: #0d2481 ;
  --lightgreen: #a2d39b ;
  --bordeaux: #61082b ;
  --red: #d5001f ;
  --lightred: #ff1c1c ;
  --yellow: #ffd830 ;
  --lightgrey: #d2dce4;
}

/* General properties */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: auto;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: black;
}

.d-flex {
  display: flex;
}

/* HEADER */
.navbar {
  padding: 10px 15px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 999;
  background-color: white;
  width: 100%;
  height: 60px;
  border-bottom: 2px solid var(--lightgrey);
}

.navbar-left nav ul
.navbar-right nav ul {
  flex-direction: row;
}

.navbar-left nav ul li {
  margin-right: 20px;
  font-weight: 500;
}

.navbar-right nav ul li {
  margin-left: 20px;
  font-weight: 500;
}

.navbar-right button {
  background-color: var(--blue);
  padding: 5px 10px;
  color: white;
  border: none;
}









main {
  background-color: var(--lightblue);
  height: 1000px;
}